/* BANNER */


.banner-bg {
    margin-top: 3rem;
    background-color: var(--Light_grayish-blue);
    border-top: 1px solid var(--Grayish_blue);
    border-bottom: 1px solid var(--Grayish_blue);
    padding: 0.5rem;
}

.banner {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    max-width: 1440px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
   
    
}

.banner__item {
    
    display: grid;
    justify-items: center;
    align-items: start;
    gap: 4px;
    max-width: 150px;
}

.banner__item svg {
    width: 32px;
    height:32px;
}

.banner__ico {
    width: 50px;  
}



.banner__title {
    text-transform: uppercase;
    color: var(--Orange);
    opacity: 1;
    font-size: 0.8rem;
}

.banner__text {
    
    opacity: 0.9;;
    font-size: 0.75rem;
}



@media (min-width:500px) {
    .banner {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width:1100px) {

    .banner-bg {
        padding: 1rem;
    }
    .banner__item {
        max-width: 180px;
    }

    .banner__item svg {
        width: 44px;
        height: 44px; 
    }
    .banner__title {
        font-size: 1.1rem;
    }
    .banner__text {
        font-size: 0.9rem;
    }
}