/* CATALOGGG */


.catalog {
  
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
}

.catalog__title {
    margin: 2rem 0.5rem;
    font-weight: 400;
    color: var(--Very_dark_blue);
    font-size: clamp(1.2rem, 3vw, 1.4rem );
}

.catalog__btn {
    background-color: var(--Orange);
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--White);
    border-radius: 25px;
    justify-self: center;
    margin: 1rem;
}

.catalog__btn:hover {
    opacity: 0.8;
    
}
.catalog__btn:active {
    scale:1.1
}



.catalog__container {
    display: grid;
    gap: 30px;
    justify-content: center;
}


@media (min-width:400px) {
    .catalog__container {
        gap: 28px;
        grid-template-columns: repeat(auto-fit, 200px);
    }
}

@media (min-width:800px) { 
    .catalog {
        padding: 0rem 1rem;
    }
}


@media (min-width:1240px) {
    .catalog__container {
        grid-template-columns: repeat(auto-fit, minmax(200px,280px));
    }
}